#mynetwork {
    width: 83%;
    height: 635px; 
    float: right;
    border: 1px solid lightgray; 
  }
  

  .add-edge-icon {
    width: 30px; 
    height: 30px; 
  }

  .edit-edge-icon{
    width: 30px; 
    height: 30px; 
  }
  
  .Delete-icon{
    width: 30px; 
    height: 30px; 
  }